In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']

In [8]:
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a':10, 'b':20, 'c':30}

In [9]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [10]:
series = pd.Series(data = my_list, index = labels)

In [11]:
series['b']

20

In [12]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [15]:
ser1 = pd.Series([1, 2, 3, 4], index = ['EUA', 'Germany', 'URSS', 'Japan'])

In [16]:
ser1

EUA        1
Germany    2
URSS       3
Japan      4
dtype: int64

In [17]:
ser2 = pd.Series([1, 2, 3, 4,], index = ['EUA', 'Germany', 'Italy', 'Japan'])

In [18]:
ser2

EUA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [19]:
ser1 + ser2

EUA        2.0
Germany    4.0
Italy      NaN
Japan      8.0
URSS       NaN
dtype: float64

In [20]:
np.random.seed(101)

In [26]:
df = pd.DataFrame(np.random.randn(5, 4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())

In [27]:
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [28]:
df['W']

A   -1.467514
B    0.392489
C    0.666319
D    0.641806
E   -1.972605
Name: W, dtype: float64

In [29]:
type(df['W'])

pandas.core.series.Series

In [30]:
type(df)

pandas.core.frame.DataFrame

In [31]:
df[['W', 'Z', ]]

          W         Z
A -1.467514  0.485809
B  0.392489  1.541990
C  0.666319  1.407338
D  0.641806  1.028293
E -1.972605 -1.223082

In [32]:
df.W

A   -1.467514
B    0.392489
C    0.666319
D    0.641806
E   -1.972605
Name: W, dtype: float64

In [33]:
df['Y']

A   -0.162535
B   -0.855196
C   -0.568581
D   -0.391157
E    0.720788
Name: Y, dtype: float64

In [35]:
df['new'] = df['W'] +  df['X']

In [36]:
df

          W         X         Y         Z       new
A -1.467514 -0.494095 -0.162535  0.485809 -1.961609
B  0.392489  0.221491 -0.855196  1.541990  0.613979
C  0.666319 -0.538235 -0.568581  1.407338  0.128085
D  0.641806 -0.905100 -0.391157  1.028293 -0.263294
E -1.972605 -0.866885  0.720788 -1.223082 -2.839490

In [37]:
df.drop('new', axis = 1)

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [38]:
df

          W         X         Y         Z       new
A -1.467514 -0.494095 -0.162535  0.485809 -1.961609
B  0.392489  0.221491 -0.855196  1.541990  0.613979
C  0.666319 -0.538235 -0.568581  1.407338  0.128085
D  0.641806 -0.905100 -0.391157  1.028293 -0.263294
E -1.972605 -0.866885  0.720788 -1.223082 -2.839490

In [39]:
df.drop('new', axis=1, inplace=True)

In [40]:
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [42]:
df.loc['A','W']

-1.4675140203361003

In [43]:
df.loc['A']

W   -1.467514
X   -0.494095
Y   -0.162535
Z    0.485809
Name: A, dtype: float64

In [44]:
df.loc['B','Y']

-0.8551960407780934

In [45]:
df.loc[['A', 'B'],['X','Y','Z']]

          X         Y         Z
A -0.494095 -0.162535  0.485809
B  0.221491 -0.855196  1.541990

In [46]:
df.iloc[1:4, 2:]

          Y         Z
B -0.855196  1.541990
C -0.568581  1.407338
D -0.391157  1.028293

In [47]:
df.iloc[2:4, 2:]

          Y         Z
C -0.568581  1.407338
D -0.391157  1.028293

In [48]:
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [49]:
df > 0

       W      X      Y      Z
A  False  False  False   True
B   True   True  False   True
C   True  False  False   True
D   True  False  False   True
E  False  False   True  False

In [50]:
bol = df > 0

In [51]:
df[bol]

          W         X         Y         Z
A       NaN       NaN       NaN  0.485809
B  0.392489  0.221491       NaN  1.541990
C  0.666319       NaN       NaN  1.407338
D  0.641806       NaN       NaN  1.028293
E       NaN       NaN  0.720788       NaN

In [52]:
df[df['W']>0]

          W         X         Y         Z
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293

In [53]:
df[df['W']>0]['Y']

B   -0.855196
C   -0.568581
D   -0.391157
Name: Y, dtype: float64

In [54]:
bol = df['W']>0
df2 = df[bol]
df2['Y']

B   -0.855196
C   -0.568581
D   -0.391157
Name: Y, dtype: float64

In [57]:
df[(df['W']>0) & (df['Y']>1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [58]:
df[(df['W']>0) | (df['Y']>1)]

          W         X         Y         Z
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293

In [59]:
df[(df['X']>0) | (df['Z']>1)]

          W         X         Y         Z
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293

In [62]:
df[(df['X']>0) | (df['Z']<1)]

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
E -1.972605 -0.866885  0.720788 -1.223082

In [89]:
df.reset_index()

  Estado index         W         X         Y         Z
0     RS     A -1.467514 -0.494095 -0.162535  0.485809
1     PR     B  0.392489  0.221491 -0.855196  1.541990
2     RJ     C  0.666319 -0.538235 -0.568581  1.407338
3     SP     D  0.641806 -0.905100 -0.391157  1.028293
4     SC     E -1.972605 -0.866885  0.720788 -1.223082

In [65]:
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [66]:
df.reset_index(inplace = True)

In [68]:
df

  index         W         X         Y         Z
0     A -1.467514 -0.494095 -0.162535  0.485809
1     B  0.392489  0.221491 -0.855196  1.541990
2     C  0.666319 -0.538235 -0.568581  1.407338
3     D  0.641806 -0.905100 -0.391157  1.028293
4     E -1.972605 -0.866885  0.720788 -1.223082

In [70]:
col = 'RS PR RJ SP SC'. split()

In [71]:
col

['RS', 'PR', 'RJ', 'SP', 'SC']

In [86]:
df['Estado'] = col

In [92]:
df

       index         W         X         Y         Z
Estado
RS         A -1.467514 -0.494095 -0.162535  0.485809
PR         B  0.392489  0.221491 -0.855196  1.541990
RJ         C  0.666319 -0.538235 -0.568581  1.407338
SP         D  0.641806 -0.905100 -0.391157  1.028293
SC         E -1.972605 -0.866885  0.720788 -1.223082

In [99]:
df.set_index('Estado',inplace=False)

       index         W         X         Y         Z
Estado
RS         A -1.467514 -0.494095 -0.162535  0.485809
PR         B  0.392489  0.221491 -0.855196  1.541990
RJ         C  0.666319 -0.538235 -0.568581  1.407338
SP         D  0.641806 -0.905100 -0.391157  1.028293
SC         E -1.972605 -0.866885  0.720788 -1.223082

In [91]:
df

       index         W         X         Y         Z
Estado
RS         A -1.467514 -0.494095 -0.162535  0.485809
PR         B  0.392489  0.221491 -0.855196  1.541990
RJ         C  0.666319 -0.538235 -0.568581  1.407338
SP         D  0.641806 -0.905100 -0.391157  1.028293
SC         E -1.972605 -0.866885  0.720788 -1.223082

In [88]:
df.set_index('Estado', inplace=True)

KeyError: "None of ['Estado'] are in the columns"

In [85]:
df

       index         W         X         Y         Z
Estado
RS         A -1.467514 -0.494095 -0.162535  0.485809
PR         B  0.392489  0.221491 -0.855196  1.541990
RJ         C  0.666319 -0.538235 -0.568581  1.407338
SP         D  0.641806 -0.905100 -0.391157  1.028293
SC         E -1.972605 -0.866885  0.720788 -1.223082

In [96]:
df

  Estado index         W         X         Y         Z
0     RS     A -1.467514 -0.494095 -0.162535  0.485809
1     PR     B  0.392489  0.221491 -0.855196  1.541990
2     RJ     C  0.666319 -0.538235 -0.568581  1.407338
3     SP     D  0.641806 -0.905100 -0.391157  1.028293
4     SC     E -1.972605 -0.866885  0.720788 -1.223082

In [100]:
df

  Estado index         W         X         Y         Z
0     RS     A -1.467514 -0.494095 -0.162535  0.485809
1     PR     B  0.392489  0.221491 -0.855196  1.541990
2     RJ     C  0.666319 -0.538235 -0.568581  1.407338
3     SP     D  0.641806 -0.905100 -0.391157  1.028293
4     SC     E -1.972605 -0.866885  0.720788 -1.223082

In [101]:
df.set_index('Estado')

       index         W         X         Y         Z
Estado
RS         A -1.467514 -0.494095 -0.162535  0.485809
PR         B  0.392489  0.221491 -0.855196  1.541990
RJ         C  0.666319 -0.538235 -0.568581  1.407338
SP         D  0.641806 -0.905100 -0.391157  1.028293
SC         E -1.972605 -0.866885  0.720788 -1.223082

In [104]:
df

       index         W         X         Y         Z
Estado
RS         A -1.467514 -0.494095 -0.162535  0.485809
PR         B  0.392489  0.221491 -0.855196  1.541990
RJ         C  0.666319 -0.538235 -0.568581  1.407338
SP         D  0.641806 -0.905100 -0.391157  1.028293
SC         E -1.972605 -0.866885  0.720788 -1.223082

In [105]:
# Nveis de ndice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [106]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [107]:
inside

[1, 2, 3, 1, 2, 3]

In [109]:
hier_index = list(zip(outside,inside))

In [110]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [111]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [116]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [114]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index)

In [115]:
df

             0         1
G1 1  1.606780 -1.115710
   2 -1.385379 -1.329660
   3  0.041460 -0.411055
G2 1 -0.771329  0.110477
   2 -0.804652  0.253548
   3  0.649148  0.358941